{% extends '::base.html.twig' %}

{% block body -%}
    <h1>NANDA</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Isbn</th>
                <td>{{ entity.isbn }}</td>
            </tr>
            <tr>
                <th>Version</th>
                <td>{{ entity.version }}</td>
            </tr>
            <tr>
                <th>Fecha_creado</th>
                <td>{{ entity.fechacreado|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('nanda') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('nanda_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
