{% extends 'SirepaeRegistrosEnfermeriaBundle:RegistroEnfermeria:index.html.twig' %}

{% block content -%}
    <div class="col-sm-12">
        <div class="pull-left">
            <h1 class="title">Registro {{ reg.nombre }} llenado por {{ entity.estudiante }} para {{ entity.paciente }}</h1>
        </div>
        {% if delete_form is defined and delete_form is not null %}
            <div class="pull-right">
                {{ form(delete_form) }}
            </div>
        {% endif %}
    </div>

    {% if not reg.isTabla %}
        {{ form(form) }}
    {% else %}
        {% set cols = [] %}
        {% set rows = [] %}
        {% for preg in reg.preguntas %}
            {% if preg.isColumna %}
                {% set cols = cols | merge([preg]) %}
            {% else %}
                {% set rows = rows | merge([preg]) %}
            {% endif %}
        {% endfor %}
        {{ form_start(form) }}
            {{ form_errors(form) }}
            <div class="table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>
                                
                            </th>
                        {% for col in cols %}
                            <th>
                                {{ col.enunciado }}
                            </th>
                        {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                    {% for row in rows %}
                        <tr>
                            <th>
                                {{ row.enunciado }}
                            </th>
                            {% for col in cols %}
                                {% if form[col.id~'-'~row.id] is defined %}
                                <td>
                                    {{ form_row(form[col.id~'-'~row.id]) }}
                                </td>
                                {% endif %}
                            {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        {{ form_end(form) }}
    {% endif %}
            
    <a class="btn btn-default btn-lg pull-right" href="{{ path('registros_enfermeria_edit',{'id':entity.id}) }}">Volver</a>
{% endblock %}
