{% extends '::base.html.twig' %}

{% block body -%}
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Navigación</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% set role = 'Usuario' %}
                {% if is_granted('ROLE_SUPER_ADMIN') %}
                    {% set role = 'super-administrador' %}
                    {% set icon = 'hospital-o' %}
                {% elseif is_granted('ROLE_COORDINADOR') %}
                    {% set role = 'coordinador' %}
                    {% set icon = 'user-md' %}
                {% elseif is_granted('ROLE_DOCENTE') %}
                    {% set role = 'docente' %}
                    {% set icon = 'medkit' %}
                {% elseif is_granted('ROLE_ESTUDIANTE') %}
                    {% set role = 'estudiante' %}
                    {% set icon = 'stethoscope' %}
                {% endif %}
                            
                <a class="navbar-brand title" href="{{ path('home') }}">
                    Sirepae
                    <i class="fa fa-{{ icon }}"></i>
                    {{ role }}
                </a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    {% if is_granted('ROLE_DOCENTE') or is_granted('ROLE_ESTUDIANTE') %}
                    <li>
                        <a href="{{ path('pae') }}">PAE</a>
                    </li>
                    <li>
                        <a href="{{ path('registros_enfermeria') }}">Registros de Enfermería</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_COORDINADOR') %}
                    <li>
                        <a href="{{ path('practica') }}">Prácticas</a>
                    </li>
                    {% endif %}
                    <li class="dropdown">
                        <a data-toggle="dropdown" href="#" class="btn btn-primary">
                            Cuenta
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="dropDownMenu_cuenta">
                            <li>
                                <a href="{{ path('fos_user_profile_edit') }}">Perfil</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_change_password') }}">Cambiar Contraseña</a>
                            </li>
                            <li role="presentation" class="divider"></li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}">Salir</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                <form class="navbar-form navbar-right navbar-search" action="">
                    <input type="text" class="form-control search" placeholder="Buscar...">
                </form>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-3 col-md-2 sidebar">
                {% block menu %}
                <ul class="nav nav-sidebar">
                    {% if is_granted('ROLE_COORDINADOR') %}
                    <li class="{{ active_home_resumen is defined ?'active':''}}">
                        <a href="{{ path('home') }}">Vista General</a>
                    </li>
                    <li class="{{ active_practicas_resumen is defined ?'active':''}}">
                        <a href="{{ path('practica') }}">Administrar Practicas</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_COORDINADOR') %}
                    <li class="{{ active_usuarios_resumen is defined ?'active':''}}">
                        <a href="{{ path('usuario') }}">Administrar Usuarios</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_DOCENTE') or is_granted('ROLE_ESTUDIANTE') %}
                    <li class="{{ active_registrosEnfermeria_resumen is defined ?'active':''}}">
                        <a href="{{ path('registros_enfermeria') }}">Administrar Registros de Enfermería</a>
                    </li>
                    <li class="{{ active_paes_resumen is defined ?'active':''}}">
                        <a href="{{ path('pae') }}">Administrar Procesos de Atención de Enfermería</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_COORDINADOR') %}
                    <li class="{{ active_consultas_resumen is defined ?'active':''}}">
                        <a href="{{ path('consultas') }}">Consultas</a>
                    </li>
                    {% endif %}
                </ul>
                {% endblock menu %}
                {% block submenu %}
                {% endblock submenu %}
            </div>
            <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
                {% block content %}
                    {% include 'SirepaeUsuariosBundle:Consultas:index_ajax.html.twig' %}
                {% endblock content %}
            </div>
        </div>
    </div>
{% endblock %}
