{% extends 'SirepaeUsuariosBundle:Usuario:home.html.twig' %}

{% block submenu %}
<ul class="nav">
    <li>
        Administrar Prácticas
        <ul class="nav  nav-sidebar">
            {% if is_granted('ROLE_COORDINADOR') %}
            <li class="{{ not (active_new is defined or active_edit is defined) and active_areas_resumen is defined ?'active':''}}">
                <a href="{{ path('area') }}">
                    Administrar Áreas 
                </a>
                {% if active_areas_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('area_new') }}">
                                Nueva Área
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('area_edit', { 'id': entity.id }) }}">
                                    Edita Área {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_materias_resumen is defined ?'active':''}}">
                <a href="{{ path('materia') }}">
                    Administrar Materias 
                </a>
                {% if active_materias_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('materia_new') }}">
                                Nueva Area
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('materia_edit', { 'id': entity.id }) }}">
                                    Edita Materia {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_sedes_resumen is defined ?'active':''}}">
                <a href="{{ path('sede') }}">
                    Administrar Sedes
                </a>
                {% if active_sedes_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('sede_new') }}">
                                Nueva Sede
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('sede_edit', { 'id': entity.id }) }}">
                                    Edita Sede {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_sitios_resumen is defined ?'active':''}}">
                <a href="{{ path('sitio') }}">
                    Administrar Sitios
                </a>
                {% if active_sitios_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('sitio_new') }}">
                                Nueva Sitio
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('sitio_edit', { 'id': entity.id }) }}">
                                    Edita Sitio {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_practicas_resumen is defined ?'active':''}}">
                <a href="{{ path('practica') }}">
                    Administrar Practicas 
                </a>
                {% if active_practicas_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('practica_new') }}">
                                Nueva Practica
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('practica_edit', { 'id': entity.id }) }}">
                                    Edita Practica {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            {% endif %}
        </ul>
    </li>
</ul>
{% endblock submenu%}
{% block content -%}
    {% set path_ = 'practica' %}
    {% set title_ = 'Practicas' %}
    <ul class="list-unstyled list-inline">
        <li>
            <h1 class="title">
                Tablero de {{ title_ }}
            </h1>
        </li>
        <li class="text-align pull-right title">
            <a class="btn btn-primary btn-lg" href="{{ path( path_ ~ '_new') }}">
                Nueva {{ path_ }}
            </a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    {% if not is_granted('ROLE_COORDINADOR') and (is_granted('ROLE_DOCENTE') or is_granted('ROLE_ESTUDIANTE')) %}
                        <th>Coordinador</th>
                    {% endif %}
                    {% if is_granted('ROLE_COORDINADOR') or is_granted('ROLE_ESTUDIANTE') %}
                        <th>Docente</th>
                    {% endif %}
                    <th>Área</th>
                    <th>Sitio</th>
                    <th>Fecha_modifica</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.descripcion }}</td>
                    {% if not is_granted('ROLE_COORDINADOR') and (is_granted('ROLE_DOCENTE') or is_granted('ROLE_ESTUDIANTE')) %}
                    <td>{{ entity.coordinador }}</td>
                    {% endif %}
                    {% if is_granted('ROLE_COORDINADOR') or is_granted('ROLE_ESTUDIANTE') %}
                        <td>{{ entity.docente }}</td>
                    {% endif %}
                    <td>{{ entity.sitio }}</td>
                    <td>{{ entity.areaPractica }}</td>
                    <td>
                        {% if entity.fechacreado %}
                            <div class="moment-date" title="{{ entity.fechaCreado|date('Y-m-d H:i:s') }}">
                                {{ entity.fechacreado|date('Y-m-d H:i:s') }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success btn-lg" href="{{ path('practica_edit', { 'id': entity.id }) }}">Editar</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
