{% extends 'SirepaeRegistrosEnfermeriaBundle:RegistroEnfermeria:index.html.twig' %}

{% block content -%}
    {% set path_ = 'nota' %}
    {% set title_ = 'Observaciones' %}
    <ul class="list-unstyled list-inline">
        <li>
            <h1>
                Tablero de {{ title_ }} 
                {% if re is defined and re is not null %}
                    del {{ re }}
                {% endif %}
            </h1>
        </li>
        <li class="text-align pull-right title">
            {% if id_re is defined and id_re is not null and is_granted('ROLE_USER') %}
                <a class="btn btn-primary btn-lg" href="{{ path( path_ ~ '_new_registro_enfermeria', { 'id': id_re }) }}">
                    Nueva Observación
                </a>
            {% else %}
                <a class="btn btn-primary btn-lg" href="{{ path( path_ ~ '_new') }}">
                    Nueva Observación
                </a>
            {% endif %}
        </li>
    </ul>
    <div class="table-responsive">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Observación</th>
                    {% if id_re is not defined or id_re is null %}
                        <th>Registro de Enfermería</th>
                    {% endif %}
                    <th>Autor</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>
                        {% if entity.fechacreado %}
                            <div class="text-muted moment-date" title="{{ entity.fechaCreado|date('Y-m-d H:i:s') }}">
                                {{ entity.fechacreado|date('Y-m-d H:i:s') }}
                            </div>
                        {% endif %}
                        {{ entity.nota }}
                    </td>
                    {% if id_re is not defined or id_re is null %}
                        <td>{{ entity.registroEnfermeria }}</td>
                    {% endif %}
                    <td>{{ entity.usuario }}</td>
                    <td>
                        <div class="btn-group">
                            {% if entity.usuario is not null and app.user.id == entity.usuario.id %}
                                <a class="btn btn-success btn-lg" href="{{ path(path_ ~ '_edit', { 'id': entity.id }) }}">Editar</a>
                            {% else %}
                                <a class="btn btn-info btn-lg" href="{{ path(path_ ~ '_show', { 'id': entity.id }) }}">Ver</a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% if id_re is defined and id_re is not null %}
            <a class="btn btn-default btn-lg pull-right" href="{{ path('registros_enfermeria_edit', { 'id': id_re }) }}">Volver al Registro de Enfermería</a>
        {% endif %}
    </div>
{% endblock %}
