{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Sede</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Nombre</th>
                <td>{{ entity.nombre }}</td>
            </tr>
            <tr>
                <th>Descripcion</th>
                <td>{{ entity.descripcion }}</td>
            </tr>
            <tr>
                <th>Fecha_creado</th>
                <td>{{ entity.fechacreado|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Direccion</th>
                <td>{{ entity.direccion }}</td>
            </tr>
            <tr>
                <th>Telefonos</th>
                <td>{{ entity.telefonos }}</td>
            </tr>
            <tr>
                <th>Correo</th>
                <td>{{ entity.correo }}</td>
            </tr>
            <tr>
                <th>Nombre_director</th>
                <td>{{ entity.nombredirector }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('sede') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('sede_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
