{% extends 'SirepaePAEBundle:PAE:index.html.twig' %}

{% block content -%}
    {% set path_ = 'resultado_esperado' %}
    {% set title_ = 'Resultados Esperados' %}
    <ul class="list-unstyled list-inline">
        <li>
            <h1 class="title">
                Tablero de {{ title_ }}
            </h1>
        </li>
        <li class="text-align pull-right title">
            <a class="btn btn-primary btn-lg" href="{{ path( path_ ~ '_new') }}">
                Nuevo {{ path_|replace({'_':' '}) }}
            </a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Definicion</th>
                    <th>Dominio</th>
                    <th>Clase</th>
                    <th>Codigo</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td><a href="{{ path('resultado_esperado_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                    <td>{{ entity.definicion }}</td>
                    <td>{{ entity.dominio }}</td>
                    <td>{{ entity.clase }}</td>
                    <td>{{ entity.codigo }}</td>
                    <td>{% if entity.fechacreado %}{{ entity.fechacreado|date('Y-m-d H:i:s') }}{% endif %}</td>
                    <td>
                        <div class="btn-group btn-group-lg">
                            <a class="btn btn-primary" href="{{ path(path_ ~ '_edit', { 'id': entity.id }) }}">Editar</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
