{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Indicador</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Definicion</th>
                <td>{{ entity.definicion }}</td>
            </tr>
            <tr>
                <th>Codigo</th>
                <td>{{ entity.codigo }}</td>
            </tr>
            <tr>
                <th>Fecha_creado</th>
                <td>{{ entity.fechacreado|date('Y-m-d H:i:s') }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('indicador') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('indicador_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
