{% extends 'SirepaePAEBundle:PAE:index.html.twig' %}

{% block content -%}
    {% set path_ = 'diagnostico' %}
    {% set title_ = 'Diagnósticos' %}
    <ul class="list-unstyled list-inline">
        <li>
            <h1 class="title">
                Tablero de {{ title_ }}
            </h1>
        </li>
        <li class="text-align pull-right title">
            <a class="btn btn-primary btn-lg" href="{{ path( path_ ~ '_new') }}">
                Nuevo Diagnóstico
            </a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Definicion</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }}</td>
                    <td>{{ entity.definicion }}</td>
                    <td>
                        <div class="btn-group btn-group-lg">
                            <a class="btn btn-primary" href="{{ path(path_ ~ '_edit', { 'id': entity.id }) }}">Editar</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
