{% extends 'SirepaePAEBundle:PAE:index.html.twig' %}

{% block content -%}
    <div class="col-sm-12">
        <div class="pull-left">
            <h1 class="title">{{ entity }}</h1>
        </div>
        <div class="pull-right">
            {% if is_granted('ROLE_ESTUDIANTE') %}
                {{ form(delete_form) }}
            {% endif %}
            <div class="btn-group btn-group-lg pull-right">
                <a class="btn btn-default" href="{{ path('pae') }}">Volver</a>
                {#<a class="btn btn-success" href="{{ path('calificacion_new_pae',{id: entity.id}) }}">Calificar</a>#}
            </div>
        </div>
        {% if entity.calificacion is defined and entity.calificacion is not empty and entity.calificacion is not null %}
        {% set valor = entity.calificacion.valor %}
        <h2 class="text-{{ valor > 3.8?'success':valor > 3?'warning':'danger' }}">
            Calificacion {{ valor }}
        </h2>
        {% endif %}
    </div>
{% if entity.calificacion is not defined or entity.calificacion is empty or entity.calificacion is null %}
{{ form_start(edit_form) }}
    {{ form_errors(edit_form) }}
{% endif %}

    {% if is_granted('ROLE_ESTUDIANTE') %}
        {{ form_row(edit_form.paciente) }}
        {% if edit_form.estudiante is defined %}
            {{ form_row(edit_form.estudiante) }}
        {% endif %}
        {% if edit_form.val_objetiva is defined %}
            {{ form_row(edit_form.val_objetiva) }}
        {% endif %}
        {% if edit_form.val_subjetiva is defined %}
            {{ form_row(edit_form.val_subjetiva) }}
        {% endif %}
        {% if edit_form.evaluacion is defined %}
            {{ form_row(edit_form.evaluacion) }}
        {% endif %}
    {% else %}
        <div class="col-sm-12">
            <div class="col-sm-4">
                <h4 class="title">Valoraci贸n Objetiva</h4>
                <div class="col-sm-8">
                    <p>
                        {{ entity.valObjetiva }}
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h4 class="title">Valoraci贸n Subjetiva</h4>
                <div class="col-sm-8">
                    <p>
                        {{ entity.valSubjetiva }}
                    </p>
                </div>
            </div>
            <div class="col-sm-4">
                <h4 class="title">Evaluaci贸n</h4>
                <div class="col-sm-8">
                    <p>
                        {{ entity.evaluacion }}
                    </p>
                </div>
            </div>
        </div>
    {% endif %}
    <div class="clearfix"></div>
    <div class="row">
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Libro NANDA
                </div>
                <div class="panel-body">
                    {% if nanda is defined and nanda is not null %}
                    <div class="panel-group" id="libro-nanda">
                        {% for dominio in nanda.dominios %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                Dominio "{{ dominio.codigo }}": {{ dominio.nombre }}
                            </div>
                            <div class="panel-body">
                                <div class="panel-group panel-integrate" id="clases-dominio-{{ dominio.id }}">
                                    {% for clase in dominio.clases %}
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#clases-dominio-{{ dominio.id }}" href="#clase-{{ clase.id }}-dominio-{{ dominio.id }}">
                                                {{ clase.nombre }}
                                            </a>
                                        </div>
                                        <div id="clase-{{ clase.id }}-dominio-{{ dominio.id }}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    {{ clase.descripcion }}
                                                </p>
                                                <div class="panel-group" id="diagnosticos-clase-{{ clase.id }}-dominio-{{ dominio.id }}">
                                                    {% for diagnostico in clase.diagnosticos %}
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            <a data-toggle="collapse" data-parent="#diagnosticos-clase-{{ clase.id }}-dominio-{{ dominio.id }}" href="#evidencias-diagnostico{{ diagnostico.id }}-clase-{{ clase.id }}-dominio-{{ dominio.id }}">
                                                                {{ diagnostico.nombre }}
                                                            </a>
                                                        </div>
                                                        <div class="panel-body">
                                                            <p>
                                                                {{ diagnostico.definicion }}
                                                            </p>
                                                            <div class="panel-group collapse" id="evidencias-diagnostico{{ diagnostico.id }}-clase-{{ clase.id }}-dominio-{{ dominio.id }}">
                                                                {% if diagnostico.evidencias is not empty %}
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <a data-toggle="collapse" data-parent="#evidencias-diagnostico{{ diagnostico.id }}-clase-{{ clase.id }}-dominio-{{ dominio.id }}" href="#evidencias-{{ diagnostico.id }}">
                                                                            Evidencias
                                                                        </a>
                                                                    </div>
                                                                    <div id="evidencias-{{ diagnostico.id }}" class="panel-collapse collapse">
                                                                        <{{ is_granted('ROLE_ESTUDIANTE')?'div':'ul' }} class="list-group">
                                                                        {% for evidencia in diagnostico.evidencias %}
                                                                            {% if is_granted('ROLE_ESTUDIANTE') %}
                                                                                    <a href="{{ path('toggle_diagnostico_to_pae_e',{'id_pae': entity.id, 'id_diagnostico': diagnostico.id, 'id_evidencia': evidencia.id}) }}"  class="list-group-item{{ entity.existEvidenciaDiagnostico(evidencia)?' active':'' }} ajax" title="{{ evidencia.descripcion }}" id="link-evidencias-{{ diagnostico.id }}">
                                                                                        {{ evidencia.nombre }}
                                                                                    </a>
                                                                                {% else %}
                                                                                    <li class="list-group-item{{ entity.existEvidenciaDiagnostico(evidencia)?' list-group-item-info':'' }}" title="{{ evidencia.descripcion }}">
                                                                                        {{ evidencia.nombre }}
                                                                                    </li>
                                                                                {% endif %}
                                                                        {% endfor %}
                                                                        </{{ is_granted('ROLE_ESTUDIANTE')?'div':'ul' }}>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                                {% if diagnostico.factoresRelacionados is not empty %}
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <a data-toggle="collapse" data-parent="#factores-relacionados-diagnostico{{ diagnostico.id }}-clase-{{ clase.id }}-dominio-{{ dominio.id }}" href="#factores-relacionados-{{ diagnostico.id }}">
                                                                            Factores Relacionados
                                                                        </a>
                                                                    </div>
                                                                    <div id="factores-relacionados-{{ diagnostico.id }}" class="panel-collapse collapse">
                                                                        <{{ is_granted('ROLE_ESTUDIANTE')?'div':'ul' }} class="list-group">
                                                                        {% for factorRelacionado in diagnostico.factoresRelacionados %}
                                                                            {% if is_granted('ROLE_ESTUDIANTE') %}
                                                                                    <a href="{{ path('toggle_diagnostico_to_pae_fr',{'id_pae': entity.id, 'id_diagnostico': diagnostico.id, 'id_factorRelacionado': factorRelacionado.id}) }}"  class="list-group-item{{ entity.existFactorRelacionadoDiagnostico(factorRelacionado)?' active':'' }} ajax" title="{{ factorRelacionado.descripcion }}" id="link-factorRelacionados-{{ diagnostico.id }}">
                                                                                        {{ factorRelacionado.nombre }}
                                                                                    </a>
                                                                                {% else %}
                                                                                    <li class="list-group-item{{ entity.existFactorRelacionadoDiagnostico(factorRelacionado)?' list-group-item-info':'' }}" title="{{ factorRelacionado.descripcion }}">
                                                                                        {{ factorRelacionado.nombre }}
                                                                                    </li>
                                                                                {% endif %}
                                                                        {% endfor %}
                                                                        </{{ is_granted('ROLE_ESTUDIANTE')?'div':'ul' }}>
                                                                    </div>
                                                                </div>
                                                                {% endif %}
                                                            </div>
                                                        </div>
                                                        <div class="panel-footer">
                                                            {% set num_factores = entity.getFactoresRelacionados(diagnostico) | length %}
                                                            {% set num_evidencias = entity.getEvidencias(diagnostico) | length %}
                                                            <div>
                                                                <span id="num-factores-relacionados-{{ diagnostico.id }}-diagnostico" class="total-factores-definidos">{{ num_factores }}</span>
                                                                Factor{{ (num_factores != 1)?'es':'' }} Relacionado{{ (num_factores != 1)?'s':''}}
                                                            </div>
                                                            <div>
                                                                <span id="num-evidencias-{{ diagnostico.id }}-diagnostico" class="total-evidencias-definidos">{{ num_evidencias }}</span>
                                                                Evidencia{{ (num_evidencias != 1)?'s':'' }}
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% endfor %}
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {% set num_fe = entity.getEvidenciasFactoresRelacionados | length %}
                    <span id="num-factores-evidencias" class="total-definidos">{{ num_fe }}</span>
                    Elegido{{ num_fe != 1?'s':'' }}
                </div>
                <div class="panel-heading">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Libro NOC
                </div>
                <div class="panel-body">
                    {% if noc is defined and noc is not null %}
                    <div class="panel-group" id="libro-noc">
                        {% for resultadoEsperado in noc.resultadosEsperados %}
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                {{ resultadoEsperado.nombre }} <span class="text-muted">({{ resultadoEsperado.codigo }})</span>
                            </div>
                            <div class="panel-body">
                                <div class="panel-group panel-integrate" id="libro-noc-resultado-esperado">
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <a data-toggle="collapse" data-parent="#libro-noc-resultado-esperado" href="#resultado-esperado-{{ resultadoEsperado.id }}">
                                                {{ resultadoEsperado.dominio }} <br/> {{ resultadoEsperado.clase }}
                                            </a>
                                        </div>
                                        <div id="resultado-esperado-{{ resultadoEsperado.id }}" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <p>
                                                    {{ resultadoEsperado.definicion }}
                                                </p>
                                                <div class="panel-group panel" id="indicadores-resultado-esperado">
                                                    <div class="panel panel-default">
                                                        <div class="panel-heading">
                                                            Indicadores
                                                        </div>
                                                        <div class="panel-body">
                                                            {% for indicador in resultadoEsperado.indicadores %}
                                                            <div class="panel-group panel panel-integrate" id="indicador-{{ indicador.id }}-resultado-esperado">
                                                                <div class="panel panel-default">
                                                                    <div class="panel-heading">
                                                                        <a data-toggle="collapse" data-parent="#indicador-{{ indicador.id }}-resultado-esperado" href="#escalas-indicador-{{ indicador.id }}-resultado-esperado-{{ resultadoEsperado.id }}">
                                                                            {{ indicador.definicion }}
                                                                        </a>
                                                                    </div>
                                                                    <div id="escalas-indicador-{{ indicador.id }}-resultado-esperado-{{ resultadoEsperado.id }}" class="panel-collapse collapse">
                                                                        <{{ is_granted('ROLE_ESTUDIANTE')?'div':'ul' }} class="list-group">
                                                                        {% for escala in resultadoEsperado.escalas %}
                                                                            {% if is_granted('ROLE_ESTUDIANTE') %}
                                                                                    <a href="{{ path('toggle_indicador_to_pae',{'id_pae': entity.id, 'id_indicador': indicador.id, 'id_escala': escala.id}) }}" class="list-group-item{{ entity.existIndicador(indicador,escala)?' active':'' }} ajax" title="{{ escala.descripcion }}">
                                                                                        {{ escala.nombre }} <span class="label label-success">{{ escala.valor }}</span>
                                                                                    </a>
                                                                                {% else %}
                                                                                    <li class="list-group-item{{ entity.existIndicador(indicador,escala)?' list-group-item-info':'' }}" title="{{ escala.descripcion }}">
                                                                                        {{ escala.nombre }}
                                                                                    </li>
                                                                                {% endif %}
                                                                        {% endfor %}
                                                                        </{{ is_granted('ROLE_ESTUDIANTE')?'div':'ul' }}>
                                                                    </div>
                                                                    <div class="panel-footer">
                                                                        <span id="num-indicadores" class="total-definidos">{{ entity.existIndicador(indicador)?'Valorado':'' }}</span>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                            {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {% set num_ind = entity.indicadores | length %}
                    <span id="num-indicadores" class="total-definidos">{{ num_ind }}</span> 
                    Indicador{{ num_ind != 1?'es':'' }}
                </div>
                {% if entity.calificacion is not defined or entity.calificacion is empty or entity.calificacion is null %}
                    {% if edit_form.objetivo is defined %}
                        <div class="panel-footer">
                                {{ form_row(edit_form.objetivo) }}
                        </div>
                    {% endif %}
                {% else %}
                <p class="text-center">
                    {{ entity.objetivo }}
                </p>
                {% endif %}
                <div class="panel-heading">
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Libro NIC
                </div>
                <div class="panel-body">
                    {% if nic is defined and nic is not null %}
                        {% for intervencion in nic.intervenciones %}
                        <div class="panel-group" id="intervencion-{{ intervencion.id }}">
                            <div class="panel panel-default">
                                <div class="panel-heading title">
                                    <a data-toggle="collapse" data-parent="#intervencion-{{ intervencion.id }}" href="#actividades-intervencion-{{ intervencion.id }}">
                                        Intervenci贸n "{{ intervencion.nombre }}" <span class="text-muted">({{ intervencion.codigo }})</span>
                                    </a>
                                </div>
                                <div id="actividades-intervencion-{{ intervencion.id }}" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        <p>
                                            {{ intervencion.descripcion }}
                                        </p>
                                    </div>
                                    <{{ is_granted('ROLE_ESTUDIANTE')?'div':'ul' }} class="list-group">
                                    {% for actividad in intervencion.actividades %}
                                        {% if is_granted('ROLE_ESTUDIANTE') %}
                                                <a href="{{ path('toggle_actividad_to_pae',{'id_pae': entity.id, 'id_actividad': actividad.id}) }}" class="list-group-item{{ entity.existActividad(actividad)?' active':'' }} ajax">
                                                    {{ actividad.nombre }}
                                                </a>
                                            {% else %}
                                                <li class="list-group-item{{ entity.existActividad(actividad)?' list-group-item-info':'' }}" title="{{ actividad.descripcion }}">
                                                    {{ actividad.nombre }}
                                                </li>
                                            {% endif %}
                                    {% endfor %}
                                    </{{ is_granted('ROLE_ESTUDIANTE')?'div':'ul' }}>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="panel-footer">
                    {% set num_act = entity.actividades | length %}
                    <span id="num-actividades" class="total-definidos">{{ num_act }}</span> 
                    Actividad{{ num_act != 1?'es':'' }}
                </div>
                <div class="panel-heading">
                </div>
            </div>
        </div>
    </div>
    
    {% if edit_form.calificacion is defined and is_granted('ROLE_DOCENTE') %}
        {{ form_row(edit_form.calificacion) }}
    {% endif %}
{% if entity.calificacion is not defined or entity.calificacion is empty or entity.calificacion is null %}
    {{ form_row(edit_form.submit) }}
{{ form_end(edit_form) }}
{% endif %}
    <div class="btn-group btn-group-lg pull-right">
        <a class="btn btn-default" href="{{ path('pae') }}">Volver</a>
        {#<a class="btn btn-success" href="{{ path('calificacion_new_pae',{id: entity.id}) }}">Calificar</a>#}
    </div>
{% endblock %}
