{% extends 'SirepaeUsuariosBundle:Usuario:home.html.twig' %}

{% block submenu %}
<ul class="nav">
    <li>
        Administrar Consultas
        <ul class="nav  nav-sidebar">
            <li class="{{ active_consulta_docentes_resumen is defined ?'active':''}}">
                <a href="{{ path('consulta_docentes') }}">
                    Docentes por Asignatura
                </a>
            </li>
            <li class="{{ active_consulta_estudiantes_resumen is defined ?'active':''}}">
                <a href="{{ path('consulta_estudiantes') }}">
                    Estudiantes por Asignatura
                </a>
            </li>
            <li class="{{ active_consulta_pae_diagnostico_resumen is defined ?'active':''}}">
                <a href="{{ path('consulta_pae_diagnostico') }}">
                    Procesos de Atención de Enfermería por diagnóstico de Enfermería
                </a>
            </li>
            <li class="{{ active_consulta_pae_sup_resumen is defined ?'active':''}}">
                <a href="{{ path('consulta_pae') }}">
                    Procesos de Atención de Enfermería por Calificación
                </a>
            </li>
            <li class="{{ active_consulta_uso_resumen is defined ?'active':''}}">
                <a href="{{ path('consulta_uso') }}">
                    Uso del Sistema
                </a>
            </li>
        </ul>
    </li>
</ul>
{% endblock submenu%}
{% block content -%}
    {% include 'SirepaeUsuariosBundle:Consultas:index_ajax.html.twig' %}
{% endblock %}
