{% extends 'SirepaeUsuariosBundle:Consultas:index.html.twig' %}

{% block content -%}
    {% set path_ = 'pae' %}
    {% set title_ = 'Proceso de Atención de Enfermería' %}
    <ul class="list-unstyled list-inline">
        <li>
            <h1 class="title">
                Tablero de {{ title_ }}
            </h1>
        </li>
    </ul>
    <div>
        {{ form(form) }}
    </div>
    <div class="table-responsive">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Estudiante</th>
                    <th>Observaciones</th>
                    <th>Realizado</th>
                    <th>Calificación</th>
                    <th>Docente</th>
                    <th>Fecha Calificado</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.paciente }}</td>
                    <td>{{ entity.estudiante }}</td>
                    <td>{{ entity.calificacion.observacion }}</td>
                    <td>
                        {% if entity.fechacreado %}
                            <div class="moment-date" title="{{ entity.fechaCreado|date('Y-m-d H:i:s') }}">
                                {{ entity.fechacreado|date('Y-m-d H:i:s') }}
                            </div>
                        {% endif %}
                    </td>
                    <td>
                        {{ entity.calificacion.valor }}
                    </td>
                    <td>
                        {{ entity.calificacion.docente }}
                    </td>
                    <td>
                        {% if entity.calificacion.fechaCreado %}
                            <div class="moment-date" title="{{ entity.calificacion.fechaCreado|date('Y-m-d H:i:s') }}">
                                {{ entity.calificacion.fechaCreado|date('Y-m-d H:i:s') }}
                            </div>
                        <span>{{ entity.calificacion.fechaCreado|date('Y-m-d') }}</span>
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group btn-group-lg">
                            <a class="btn btn-primary" href="{{ path(path_ ~ '_edit', { 'id': entity.id }) }}">Editar</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
