{% extends 'SirepaeRegistrosEnfermeriaBundle:RegistroEnfermeria:index.html.twig' %}

{% block content -%}
    <div class="col-sm-12">
        <div class="pull-left">
            <h1 class="title"> {{ entity.nombre }}</h1>
        </div>
        {% if is_granted('ROLE_ESTUDIANTE') %}
        <div class="pull-right">
            {{ form(delete_form) }}
        </div>
        {% endif %}
    </div>

    {% if is_granted('ROLE_ESTUDIANTE') %}
    {{ form(edit_form) }}
    {% endif %}

<div class="btn-group btn-group-lg pull-right">
    <a class="btn btn-default btn-lg" href="{{ path('registros_enfermeria') }}">Volver</a>
    {% if is_granted('ROLE_DOCENTE') or is_granted('ROLE_ESTUDIANTE') %}
        <a class="btn btn-info btn-lg" href="{{ path('nota_new_registro_enfermeria',{id: entity.id}) }}">Agregar Observación</a>
    {% endif %}
        <a class="btn btn-primary btn-lg" href="{{ path('nota_usuario_registro',{usuario: app.user.username,id:entity.id}) }}">Ver Observaciones</a>
</div>
<div class="clearfix"></div>
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group btn-group-lg">
                {% if is_granted('ROLE_ESTUDIANTE') %}
                    {% for registro in registros %}
                        <a class="btn btn-default btn-lg" href="{{ path('llenar_registro',{idRegistroEnfermeria: entity.id, idRegistro: registro.id}) }}">
                            {{ registro }}
                        </a>
                    {% endfor %}
                {% endif %}
            </div>
        </div>
        <div class="col-sm-12">
                {% set preg_ = null %}
                {% set optRta_ = null %}
                {% set reg_ = null %}
                {% set rta_ = null %}
            <div class="row">
            {% set n = 0 %}
            {% if respuestas is empty %}
                <h3 class="title">
                    No se han encontrado Registros
                </h3>
            {% else %}
                {% for rta in respuestas %}
                    {% set preg = rta.respuesta.pregunta %}
                    {% set optRta = rta.respuesta.opcionRespuesta %}
                    {% set reg = preg.registro %}
                    {% if reg_ is null or reg_.id != reg.id or (reg_.id == reg.id and rta_.numero != rta.numero) %}
                        {% set rta_ = rta %}
                        {% if reg_ is not null %}
                            {% set n = n + 1 %}
                                </div>
                            </div>
                        </div>
                        {% endif %}
                        {% if n is divisibleby(3) %}
                            </div>
                            <div class="row">
                        {% endif %}
                        {% set reg_ = reg %}
                        <div class="col-sm-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <{{ is_granted('ROLE_ESTUDIANTE')?'a':'span' }} class="title" href="{{ path('editar_registro_enfermeria',{idRegistroEnfermeria: entity.id, idRegistro: reg_.id, numero: rta.numero}) }}">
                                        {{ reg.nombre ~' '~ rta.numero }}
                                    </{{ is_granted('ROLE_ESTUDIANTE')?'a':'span' }}>
                                    {% if reg.fechacreado %}
                                        <span class="text-muted moment-date" title="{{ entity.fechaCreado|date('Y-m-d H:i:s') }}">
                                            {{ reg.fechacreado|date('Y-m-d H:i:s') }}
                                        </span>
                                    {% endif %}
                                </div>
                                <div class="panel-body">
                                    <dl class="dl-horizontal">
                                        <dt>
                                            {{ rta.respuesta.cleanEnunciado }}
                                        </dt>
                                        <dd>
                                            {% if rta.respuesta.valor is null %}
                                                {{ optRta.enunciado }}
                                            {% else %}
                                                {{ rta.respuesta.cleanValor }}
                                            {% endif %}
                                        </dd>
                                    </dl>
                      {% else %}
                                    <dl class="dl-horizontal">
                                        <dt>
                                            {{ rta.respuesta.cleanEnunciado }}
                                        </dt>
                                        <dd>
                                            {% if rta.respuesta.valor is null %}
                                                {{ optRta.enunciado }}
                                            {% else %}
                                                {{ rta.respuesta.cleanValor }}
                                            {% endif %}
                                        </dd>
                                    </dl>
                    {% endif %}
                {% endfor %}
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
