{% extends 'SirepaeRegistrosEnfermeriaBundle:RegistroEnfermeria:index.html.twig' %}

{% block content -%}
    <div class="col-sm-12">
        <div class="pull-left">
            <h1 class="title"> {{ entity.nombre }}</h1>
        </div>
        <div class="pull-right">
            {{ form(delete_form) }}
        </div>
    </div>

    {{ form(edit_form) }}

<div class="btn-group btn-group-lg pull-right">
    <a class="btn btn-default btn-lg" href="{{ path('registros_enfermeria') }}">Volver</a>
    <a class="btn btn-info btn-lg" href="{{ path('nota_new_registro_enfermeria',{id: entity.id}) }}">Agregar Nota</a>
    <a class="btn btn-primary btn-lg" href="{{ path('nota_',{id: entity.id}) }}">Ver Nota</a>
</div>
     
    <div class="row">
        <div class="col-sm-12">
            <div class="btn-group btn-group-lg">
                {% for registro in registros %}
                    <a class="btn btn-default btn-lg pull-right" href="{{ path('llenar_registro',{idRegistroEnfermeria: entity.id, idRegistro: registro.id}) }}">
                        {{ registro }}
                    </a>
                {% endfor %}
            </div>
        </div>
        <div class="col-sm-12">
                {% set preg_ = null %}
                {% set optRta_ = null %}
                {% set reg_ = null %}
                {% set rta_ = null %}
            <div class="row">
            {% set n = 0 %}
            {% for rta in respuestas %}
                {% set preg = rta.respuesta.pregunta %}
                {% set optRta = rta.respuesta.opcionRespuesta %}
                {% set reg = preg.registro %}
                {% if reg_ is null or reg_.id != reg.id or (reg_.id == reg.id and rta_.numero != rta.numero) %}
                    {% set rta_ = rta %}
                    {% if reg_ is not null %}
                        {% set n = n + 1 %}
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% if n is divisibleby(3) %}
                        </div>
                        <div class="row">
                    {% endif %}
                    {% set reg_ = reg %}
                    <div class="col-sm-4">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <a class="title" href="{{ path('editar_registro_enfermeria',{idRegistroEnfermeria: entity.id, idRegistro: reg_.id, numero: rta.numero}) }}">
                                    {{ reg.nombre ~ rta.numero }}
                                </a>
                            </div>
                            <div class="panel-body">
                                <dl class="dl-horizontal">
                                    <dt>{{ preg.enunciado }}</dt>
                                    <dd>
                                        {% if rta.respuesta.valor is null %}
                                            {{ optRta.enunciado }}
                                        {% else %}
                                            {% if preg.isMultiRta %}
                                                {% for r_ in rta.respuesta.valor|split('\#_*/|\*_#/') %}
                                                    {{ optRtas[r_]['enunciado'] }}
                                                    {% if not loop.last %}
                                                        ,
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {{ rta.respuesta.valor }}
                                            {% endif %}
                                        {% endif %}
                                    </dd>
                                </dl>
                  {% else %}
                                <dl class="dl-horizontal">
                                    <dt>{{ preg.enunciado }}</dt>
                                    <dd>
                                        {% if rta.respuesta.valor is null %}
                                            {{ optRta.enunciado }}
                                        {% else %}
                                            {% if rta.respuesta.valor is empty %}
                                                No definido(a)
                                            {% elseif preg.isMultiRta %}
                                                {% for r_ in rta.respuesta.valor|split('|') %}
                                                    {% set r_ = r_|replace({'\\#_*/': '', '\\*_#/' : ''}) %}
                                                    {{ optRtas[r_]['enunciado'] }}
                                                    {% if not loop.last %}
                                                        ,
                                                    {% endif %}
                                                {% endfor %}
                                            {% else %}
                                                {{ rta.respuesta.valor }}
                                            {% endif %}
                                        {% endif %}
                                    </dd>
                                </dl>
                {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}
