{% extends 'SirepaeUsuariosBundle:Usuario:home.html.twig' %}

{% block submenu %}
<ul class="nav">
    <li>
        Administrar Registros de Enfermería
        <ul class="nav  nav-sidebar">
            <li class="{{ not (active_new is defined or active_edit is defined) and active_tipos_resumen is defined ?'active':''}}">
                <a href="{{ path('tipo') }}">
                    Administrar Tipos de Registros 
                </a>
                {% if active_tipos_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('tipo_new') }}">
                                Nuevo Tipo de Registro
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('tipo_edit', { 'id': entity.id }) }}">
                                    Edita Tipo de Registro {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_registros_resumen is defined ?'active':''}}">
                <a href="{{ path('registro') }}">
                    Administrar Registros
                </a>
                {% if active_registros_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('registro_new') }}">
                                Nuevo Registro
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('registro_edit', { 'id': entity.id }) }}">
                                    Edita Registro {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_preguntas_resumen is defined ?'active':''}}">
                <a href="{{ path('pregunta') }}">
                    Administrar Preguntas
                </a>
                {% if active_preguntas_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('pregunta_new') }}">
                                Nuevo Pregunta
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('pregunta_edit', { 'id': entity.id }) }}">
                                    Edita Pregunta {{ entity }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_tiposRespuesta_resumen is defined ?'active':''}}">
                <a href="{{ path('tipo_respuesta') }}">
                    Administrar Tipos de Respuesta
                </a>
                {% if active_tiposRespuesta_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('tipo_respuesta_new') }}">
                                Nuevo Tipo de Respuesta
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('tipo_respuesta_edit', { 'id': entity.id }) }}">
                                    Edita Tipo de Respuesta {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_opcionesRespuesta_resumen is defined ?'active':''}}">
                <a href="{{ path('opcion_respuesta') }}">
                    Administrar Opciones de Respuesta
                </a>
                {% if active_opcionesRespuesta_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('opcion_respuesta_new') }}">
                                Nueva Opcion de Respuesta
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('opcion_respuesta_edit', { 'id': entity.id }) }}">
                                    Edita Opcion de Respuesta {{ entity.enunciado }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
            <li class="{{ not (active_new is defined or active_edit is defined) and active_registrosEnfermeria_resumen is defined ?'active':''}}">
                <a href="{{ path('registros_enfermeria') }}">
                    Administrar Registros de Enfermería
                </a>
                {% if active_registrosEnfermeria_resumen is defined %}
                    <ul class="nav  nav-sidebar">
                        <li class="{{ active_new is defined?'active':''}}">
                            <a href="{{ path('registros_enfermeria_new') }}">
                                Nuevo Registro de Enfermería
                            </a>
                        </li>
                        {% if active_edit is defined %}
                            <li class="active">
                                <a href="{{ path('registros_enfermeria_edit', { 'id': entity.id }) }}">
                                    Edita Registro de Enfermería {{ entity.nombre }}
                                </a>
                            </li>
                        {% endif %}
                    </ul>
                {% endif %}
            </li>
        </ul>
    </li>
</ul>
{% endblock submenu%}
{% block content -%}
    {% set path_ = 'registros_enfermeria' %}
    {% set title_ = 'Registros de Enfermería' %}
    <ul class="list-unstyled list-inline">
        <li>
            <h1 class="title">
                Tablero de {{ title_ }}
            </h1>
        </li>
        <li class="text-align pull-right title">
            <a class="btn btn-primary btn-lg" href="{{ path( path_ ~ '_new') }}">
                Nuevo {{ path_ | replace({'_':' '}) }}
            </a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Paciente</th>
                    <th>Estudiantes</th>
                    <th>Registros</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.paciente }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% if entity.paciente.registrosEnfermeria is not empty %}
                                {% for re in entity.paciente.registrosEnfermeria %}
                                    <li>
                                        {{ re.estudiante }}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>Registros no encontrados</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <ul class="list-unstyled">
                            {% set col_rre = [] %}
                            {% if entity.respuestas is not empty %}
                                {% for rre in entity.respuestas %}
                                    {% set reg = rre.respuesta.pregunta.registro %}
                                    {% if reg.nombre not in col_reg %}
                                        {% set col_rre = col_rre | merge([reg.nombre])%}
                                        <li>
                                            {{ reg }}
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            {% else %}
                                <li>Registros no encontrados</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success btn-lg" href="{{ path(path_ ~ '_edit', { 'id': entity.id }) }}">Editar</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% endblock %}
