{% extends 'SirepaePracticasBundle:Practica:index.html.twig' %}

{% block content -%}
    {% set path_ = 'sitio' %}
    {% set title_ = 'Sitios' %}
    <ul class="list-unstyled list-inline">
        <li>
            <h1 class="title">
                Tablero de {{ title_ }}
            </h1>
        </li>
        <li class="text-align pull-right title">
            <a class="btn btn-primary btn-lg" href="{{ path( path_ ~ '_new') }}">
                Nueva {{ path_ }}
            </a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripcion</th>
                    <th>Nombre del Director</th>
                    {#<th>Áreas en el Sitio del Prácticas</th>#}
                    <th>Prácticas</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.nombre }} - {{ entity.sede.nombre }}</td>
                    <td>{{ entity.descripcion }}</td>
                    <td>{{ entity.nombredirector }}</td>
                    {#<td>
                        <ul class="list-unstyled">
                            {% if entity.areas is not empty %}
                                {% for area in entity.areas %}
                                <li>
                                    {{ area.nombre }}
                                </li>
                                {% endfor %}
                            {% else %}
                                <li>No tiene áreas definidas</li>
                            {% endif %}
                        </ul>
                    </td>#}
                    <td>
                        <ul class="list-unstyled">
                            {% if entity.practicas is not empty %}
                                {% for practica in entity.practicas %}
                                <li>
                                    {{ practica.nombre }} - <span class="text-muted">{{ practica.docente.fullNombre }}</span>
                                </li>
                                {% endfor %}
                            {% else %}
                                <li>No tiene áreas definidas</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success btn-lg" href="{{ path('sitio_edit', { 'id': entity.id }) }}">Editar</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
