{% extends 'SirepaeRegistrosEnfermeriaBundle:RegistroEnfermeria:index.html.twig' %}

{% block content -%}
    {% set path_ = 'pregunta' %}
    {% set title_ = 'Preguntas' %}
    <ul class="list-unstyled list-inline">
        <li>
            <h1>
                Tablero de {{ title_ }}
            </h1>
        </li>
        <li class="text-align pull-right title">
            <a class="btn btn-primary btn-lg" href="{{ path( path_ ~ '_new') }}">
                Nueva {{ path_ }}
            </a>
        </li>
    </ul>
    <div class="table-responsive">
        <table class="records_list">
            <thead>
                <tr>
                    <th>Enunciado</th>
                    <th>Ayuda</th>
                    <th>Multi_rta</th>
                    <th>Expandido</th>
                    <th>Orden</th>
                    <th>Opciones</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
            {% for entity in entities %}
                <tr>
                    <td>{{ entity.enunciado }}</td>
                    <td>{{ entity.ayuda }}</td>
                    <td>{{ entity.multirta }}</td>
                    <td>{{ entity.expandido }}</td>
                    <td>{{ entity.orden }}</td>
                    <td>
                        <ul class="list-unstyled">
                            {% if entity.opcionesRespuesta is not empty %}
                                {% for optRta in entity.opcionesRespuesta %}
                                    <li>
                                        {{ optRta }}
                                    </li>
                                {% endfor %}
                            {% else %}
                                <li>Opciones no encontradas</li>
                            {% endif %}
                        </ul>
                    </td>
                    <td>
                        <div class="btn-group">
                            <a class="btn btn-success btn-lg" href="{{ path(path_ ~ '_edit', { 'id': entity.id }) }}">Editar</a>
                            <a class="btn btn-info btn-lg" href="{{ path('addOpcionRespuesta_new', { 'id': entity.id }) }}">Agregar Respuesta</a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
