{% extends 'SirepaePAEBundle:Clase:index.html.twig' %}

{% block content -%}
    <div class="col-sm-12">
        <div class="pull-left">
            <h1 class="title">Clase {{ entity.nombre }}</h1>
        </div>
        <div class="pull-right">
            {{ form(delete_form) }}
        </div>
    </div>

    {{ form(edit_form) }}

    <div class="btn-group btn-group-lg pull-right">
        <a class="btn btn-info btn-lg" href="{{ path('diagnostico_new_clase',{id_clase: entity.id}) }}">Agregar Diagnóstico</a>
        <a class="btn btn-default btn-lg" href="{{ path('clase') }}">Volver</a>
    </div>
<div class="clearfix"></div>
<div class="row">
    {% for diagnostico in entity.diagnosticos %}
        <div class="col-sm-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <a class="btn-link btn" href="{{ path('diagnostico_edit', {id: diagnostico.id}) }}">
                        <h3 class="panel-title">
                            {{ diagnostico.definicion }}
                            <span class="badge">{{ diagnostico.planesCuidado | length }}</span>
                        </h3>
                    </a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
